**Day 11: Introduction to Data Preprocessing in Python**

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("nehalbirla/vehicle-dataset-from-cardekho")

print("Path to dataset files:", path)

c:\Users\Lenovo\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\Lenovo\.cache\kagglehub\datasets\nehalbirla\vehicle-dataset-from-cardekho\versions\4

In [2]:
import pandas as pd
car_df = pd.read_csv(path + "/car details v4.csv")

In [3]:
car_df.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [4]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2059 non-null   object
 1   Model               2059 non-null   object
 2   Price               2059 non-null   int64
 3   Year                2059 non-null   int64
 4   Kilometer           2059 non-null   int64
 5   Fuel Type           2059 non-null   object
 6   Transmission        2059 non-null   object
 7   Location            2059 non-null   object
 8   Color               2059 non-null   object
 9   Owner               2059 non-null   object
 10  Seller Type         2059 non-null   object
 11  Engine              1979 non-null   object
 12  Max Power           1979 non-null   object
 13  Max Torque          1979 non-null   object
 14  Drivetrain          1923 non-null   object
 15  Length              1995 non-null   float64
 16  Width               1995 non-null   float64
 17  Height              1995 non-null   float64
 18  Seating Capacity    1995 non-null   float64
 19  Fuel Tank Capacity  1946 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 321.8+ KB

In [6]:
newcar_df = car_df[['Make', 'Model', 'Year', 'Price', 'Kilometer']]

In [7]:
newcar_df.head()

            Make                            Model  Year    Price  Kilometer
0          Honda              Amaze 1.2 VX i-VTEC  2017   505000      87150
1  Maruti Suzuki                  Swift DZire VDI  2014   450000      75000
2        Hyundai             i10 Magna 1.2 Kappa2  2011   220000      67000
3         Toyota                         Glanza G  2019   799000      37500
4         Toyota  Innova 2.4 VX 7 STR [2016-2020]  2018  1950000      69000

In [8]:
newcar_df.dtypes

Make         object
Model        object
Year          int64
Price         int64
Kilometer     int64
dtype: object

In [9]:
newcar_df.shape

(2059, 5)

In [11]:
import numpy as np

In [12]:
newcar_mean = np.mean(newcar_df['Price'])

print("Mean price of new cars:", newcar_mean)

Mean price of new cars: 1702991.6964545897

In [13]:
newcar_median = np.median(newcar_df['Price'])
print("Median price of new cars:", newcar_median)

Median price of new cars: 825000.0

In [16]:
import scipy.stats as stats

In [17]:
newcar_mode = stats.mode(newcar_df['Price'])
print("Mode price of new cars:", newcar_mode)

Mode price of new cars: ModeResult(mode=np.int64(425000), count=np.int64(26))

In [18]:
newcar_variance = np.var(newcar_df['Price'])
print("Variance of new cars price:", newcar_variance)

Variance of new cars price: 5852978276981.123

In [20]:
newcar_std = np.std(newcar_df['Price'])
print("Standard deviation of new cars price:", newcar_std)

Standard deviation of new cars price: 2419292.9291388267

In [21]:
newcar_df['Price'].std()

np.float64(2419880.635434181)

In [22]:
newcar_max = np.max(newcar_df['Price'])
print("Maximum price of new cars:", newcar_max)
newcar_min = np.min(newcar_df['Price'])
print("Minimum price of new cars:", newcar_min)

Maximum price of new cars: 35000000
Minimum price of new cars: 49000

In [ ]:
Q1 = np.percentile(newcar_df['Price'], 25)
Q3 = np.percentile(newcar_df['Price'], 75)

IQR = Q3 - Q1
print("Q1 of new cars price:", Q1)
print("Q3 of new cars price:", Q3)
print("IQR of new cars price:", IQR)

Q1 of new cars price: 484999.0
Q3 of new cars price: 1925000.0
IQR of new cars price: 1440001.0